<a href="https://colab.research.google.com/github/thmoreiracosta/pythonNaPratica/blob/main/_0_ao_Python_aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Range()
Determina quantas vezes irei passar pelo for

In [ ]:
a = [0,1,2,3]
len_a = len(a)
for elemento in range(len_a):
  print(f'passando {elemento} vez')

passando 0 vez
passando 1 vez
passando 2 vez
passando 3 vez

In [ ]:
for numero in range(1,10):
  print(f'passou pelo numero {numero}')

  if numero % 2 == 0:
    print(f'numero par {numero}')
    break

passou pelo numero 1
passou pelo numero 2
numero par 2

# Funções()

Como montar funções no Python

In [9]:
def multiplica_por_2(number):
  print('estou executando a função...')
  return number * 2

# quatro = multiplica_por_2(2)
# print(quatro)

# oito = multiplica_por_2(quatro)
# print(oito)

In [31]:

def multiplica_por_2(number):
  #print('estou executando a função...')
  return number * 2

number = input('numero: ')
multi = multiplica_por_2(int(number))

print(multi)

numero: 12
24

In [59]:
def multiplica(a, b):
	return a * b

a = float(input('Digite :'))
b = float(input('Digite :'))
x = multiplica(a, b)
print(x)

Digite :24
Digite :2
48.0

In [15]:
def multiplay(a, b):
    return a * b

resultado_1 = multiplay(8, 16)
print(resultado_1)

128

In [16]:
a = input('Qual seu nome: ')
print(a)

Qual seu nome: Thiago
Thiago

In [19]:
a = input('Digite um numero: ')
print(float(a))

Digite um numero: 15.5
15.5

In [60]:
a = 1
b = 2

temp = a
a = b
b = temp
print(a)
print(b)

2
1

In [62]:
t = (1, 2, 3)
l = [1, 2, 3]

l[0] = 10
# print(1)

# print(t[0])
# t[0] = 10

primeiro, segundo, terceiro = t
print(primeiro)
print(segundo)
print(terceiro)

1
2
3