<a href="https://colab.research.google.com/github/thmoreiracosta/pythonNaPratica/blob/main/_0_ao_Python_aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Range()
Determina quantas vezes irei passar pelo for

In [66]:
a = [1,2,3,4]
len_a = len(a)
for elemento in range(len_a):
  print(f'passando {elemento} vez')

passando 0 vez
passando 1 vez
passando 2 vez
passando 3 vez

In [ ]:
for numero in range(1,10):
  print(f'passou pelo numero {numero}')

  if numero % 2 == 0:
    print(f'numero par {numero}')
    break

passou pelo numero 1
passou pelo numero 2
numero par 2

# Funções()

Como montar funções no Python

In [9]:
def multiplica_por_2(number):
  print('estou executando a função...')
  return number * 2

# quatro = multiplica_por_2(2)
# print(quatro)

# oito = multiplica_por_2(quatro)
# print(oito)

In [31]:

def multiplica_por_2(number):
  #print('estou executando a função...')
  return number * 2

number = input('numero: ')
multi = multiplica_por_2(int(number))

print(multi)

numero: 12
24

In [74]:
def retorna_varios_valores(a, b=5):
    soma = a + b
    mult = a * b

    #return [soma, mult]
    #return (soma, mult,)
    return soma, mult

resultados = retorna_varios_valores(7, 3)
print(resultados)

r_soma, r_mult = retorna_varios_valores(7)
print(f'Resultado da soma: {r_soma}')
print(f'Resultado da soma: {r_mult}')

(10, 21)
Resultado da soma: 12
Resultado da soma: 35

In [59]:
def multiplica(a, b):
	return a * b

a = float(input('Digite :'))
b = float(input('Digite :'))
x = multiplica(a, b)
print(x)

Digite :24
Digite :2
48.0

In [15]:
def multiplay(a, b):
    return a * b

resultado_1 = multiplay(8, 16)
print(resultado_1)

128

In [16]:
a = input('Qual seu nome: ')
print(a)

Qual seu nome: Thiago
Thiago

In [19]:
a = input('Digite um numero: ')
print(float(a))

Digite um numero: 15.5
15.5

Troca de variáveis

In [65]:
a = 1
b = 2

# temp = a
# a = b
# b = temp

a, b = b, a

print(a)
print(b)

2
1

Entendendo dif entre tuplas e listas

In [62]:
t = (1, 2, 3) #tupla
l = [1, 2, 3] #lista (array)

l[0] = 10
# print(1)

# print(t[0])
# t[0] = 10

primeiro, segundo, terceiro = t
print(primeiro)
print(segundo)
print(terceiro)

1
2
3

In [ ]:
lista = [2,6,1]

checando as passagens <br>
* 1ª vez - 2 <br>
* 2ª vez - 6 <br>
* 3ª vez - 1 <br>

In [ ]:
def find_smallest_int(arr):
    menor = arr[0]
    
    for i in arr:
        if i < menor:
            menor = i
    return menor

In [64]:
# Prática de Tuplas: criando e concatenando tuplas
# Olá, desenvolvedores. Nessa prática, vocês serão desafiados a criarem duas tuplas e juntar as duas em uma terceira tupla. Exemplo:

a = (1, 2, 3, 4,)
b = ('a', 3, 1, 't',)
# c = ...
# print(c)
# > (1, 2, 3, 4, 'a', 3, 1, 't')
# Esperamos que você aproveite ao máximo a prática, pode contar conosco para qualquer dúvida!

c = a + b
print(c)

(1, 2, 3, 4, 'a', 3, 1, 't')